*
{
	margin:0;
	padding: 0;
	box-sizing:border-box;
}
.menu
{
	padding: 30px;
}
.menuitem
{
	width:32.3333%;
	display:inline;
	float: left;
	background-color: #ccc;
	border:3px solid #000;
	
	position: relative;
	height: 150px;
	padding:0 20px;
	margin-top:20px;
	margin-right: 10px;
	

	
}

span
{
	
	clear: right;
	position: relative;
	top:55px;

}
h1
{
	text-align: center;
}
.menuitem h2
{
	
	position: absolute;
	right:0;
	top:0;
	padding: 2px 15px;
	max-width:150px;
	border:3px solid #000;
	
}
.menuitem h2.ch
{
background-color: orange;
}
.menuitem h2.sh
{
background-color: blue;
}
.menuitem h2.bf
{
background-color: pink;
}
@media only screen and (max-width: 767px)
{
	.menuitem
	{
		width:100%;
	}

	
}
@media (min-width: 768px) and (max-width: 991px)
{
	.menuitem
	{
		width:48.5%;
	}
	.menuitem.last
	{
		width:100%;
	}
}
